@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf');
    font-weight: bold;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

header {
    align-items: center;
    background: url('../images/crowdpower-pattern.svg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    text-transform: uppercase;
}

header>img {
    background: white;
    height: 7%;
    padding: 0.5rem;
}

header>.header-text {
    font-weight: 700;
}

main {
    margin: 0 auto;
    width: 800px;
}

main h1 {
    text-align: center;
}

section#usp>div>img {
    width: 70%;
    display: inline-block;
}

article {
    padding: 1rem;
}

.btn {
    border: none;
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 700;
    outline: none;
    padding: 1rem 2rem;
}

.btn.primary {
    background-color: #0c6d5a;
}

.btn.primary:hover {
    background-color: #005746;
}

.btn.primary:active {
    background-color: #003C30;
}

.horizontal {
    display: flex;
    align-items: center;
    align-content: space-between;
}

.horizontal>* {
    flex: 0 1 auto;
}

.attention-circle {
    background-color: #feddc7;
    border-radius: 5rem;
    font-size: 0.75rem;
    font-weight: 700;
    height: 3rem;
    width: 5rem;
    padding: 2rem 1rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
    .gone-m {
        display: none;
    }
    main {
        width: auto;
    }
}