@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf');
    font-weight: bold;
}

body {
    background: url('../images/crowdpower-pattern.svg') no-repeat center center fixed;
    background-size: cover;
    color: #4d4d4d;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1, h2, h3 {
    color: #000000;
    margin-top: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    text-transform: uppercase;
}

header>img {
    background: white;
    height: 1.5rem;
    padding: 0.5rem;
}

header>.header-text {
    color: #000000;
    font-weight: 700;
}

.wrapper {
    margin: 0 auto;
    width: 800px;
}

main h1 {
    text-align: center;
}

section {
    padding: 4rem 0;
}

section#usp {
    background-color: #ffffff;
}

section#usp>div>div>img {
    display: inline-block;
    width: 70%;
}

section#about>button {
    text-align: center;
}

article {
    padding: 1rem;
}

.card {
    background-color: #ffffff;
    display: flex;
    font-size: 0.75rem;
    margin: 3rem 0;
    padding: 1rem;
}

.card>img {
    width: 300px;
    height: 200px;
}

.card>div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-left: 2rem;
}

.card>div>h3 {
    margin-bottom: 0;
}

.card>div>button {
    align-self: flex-end;
}

.btn {
    border: 1px solid black;
    border-radius: 1.5rem;
    color: black;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 700;
    outline: none;
    padding: 0.5rem 1rem;
}

.btn:hover {
    background-color: #EFEFEF;
}

.btn:active {
    background-color: #CECECE;
}
.btn>.icon {
    width: 1rem;
    display: inline-block;
    margin-left: 0.5rem;
}

.btn.primary {
    background-color: #0c6d5a;
    border-color: #0c6d5a;
    color: white;
    padding: 1rem 2rem;
}

.btn.primary:hover {
    background-color: #005746;
    border-color: #005746;
}

.btn.primary:active {
    background-color: #003C30;
    border-color: #003C30;
}

.horizontal {
    display: flex;
    align-items: center;
    align-content: space-between;
}

.horizontal>* {
    flex: 0 1 auto;
}

.text-center {
    text-align: center;
}

.attention-circle {
    background-color: #feddc7;
    border-radius: 5rem;
    font-size: 0.75rem;
    font-weight: 700;
    height: 3rem;
    width: 5rem;
    padding: 2rem 1rem;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
    .gone-m {
        display: none;
    }
    main {
        width: auto;
    }
}